rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    /* ======================
       FUNCIONES
    ====================== */

    function isAuthenticated() {
      return request.auth != null;
    }

    function isCompanyUser(companyId) {
      return isAuthenticated() &&
        exists(
          /databases/$(database)/documents/companies/$(companyId)/users/$(request.auth.uid)
        );
    }
    
     /* ======================
       users globales
    ====================== */

		match /users/{userId} {
  		allow read: if request.auth != null && request.auth.uid == userId;
  		allow write: if false;
		}
    /* ======================
       COMPANIES
    ====================== */

    match /companies/{companyId} {

      // Leer empresa
      allow read: if isCompanyUser(companyId);

      // Nadie modifica el doc raíz
      allow write: if false;

     
      /* ======================
         CUSTOMERS
      ====================== */

      match /customers/{customerId} {
        allow read, write: if isCompanyUser(companyId);

  
      }
            /* ======================
           DEBTS
        ====================== */
      match /debts/{debtId} {
          allow read, write: if isCompanyUser(companyId);

          /* ======================
             INSTALLMENTS
          ====================== */

          match /installments/{installmentId} {
            allow read, write: if isCompanyUser(companyId);
          }

          /* ======================
             PAYMENTS
          ====================== */

          match /payments/{paymentId} {
            allow read, write: if isCompanyUser(companyId);
          }
        }
          /* ======================
             visits
          ====================== */
        match /visits/{visitId} {
          allow read, write: if isCompanyUser(companyId);
        }
           /* ======================
             costumer_id_numbers
          ====================== */
        match /costumer_id_numbers/{document} {
          allow read, write: if isCompanyUser(companyId);
        }
           /* ======================
             metadata
          ====================== */
         match /metadata/{docId} {
				  allow read, write: if isCompanyUser(companyId);
				}
    }
  }
}